* {
  margin:0px;
  padding: 0px
}
body{
  background-image: url(Login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#header{
  width:100%;
  height:85px;
  background: green;
  box-shadow: 0px 3px 4 px gray;
}
#logo{
  width:0.5px;
  height:85px;
  float:left;
  padding-left: 20px;
}
#menu>li{
  width:200px;
  list-style: none;
  float:right;

}
li>a{
  display:block;
  color:white;
  line-height:80px;
  text-align: center;
  font-family: cursive;
  font-size: 20px;
  text-decoration: none;
}
li>a:hover{
  background: skyblue;
  color:#333;
}


  .aa{
    width:300px;
    height:260px;
    background-color: rgba(0,0,0,0.4);
    margin:0 auto;
    margin-top: 100px;
    padding-top: 10px;
    padding-left: 50px;
    border-radius: 15px;
    color:blue;
    font-weight: bolder;
    box-shadow: inset -4px -4px rgba(0,0,0,0.4);
    font-size: 18px;
  }
  .aa input[type="text"]{
    width:200px;
    height: 35px;
    border:0;
    border-radius: 5px;
    padding-left: 5px;
  }
  .aa input[type="password"]{
    width:200px;
    height: 35px;
    border:0;
    border-radius: 5px;* {
  margin:0px;
  padding: 0px
}
body{
  background-image: url(Login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#header{
  width:100%;
  height:85px;
  background-color: rgba(0,0,0,0.4);
  box-shadow: 0px 3px 4 px gray;
}
#logo{
  width:0.5px;
  height:85px;
  float:left;
  padding-left: 20px;
}
#menu>li{
  width:120px;
  list-style: none;
  float:right;

}
li>a{
  display:block;
  color:yellow;
  line-height:80px;
  text-align: center;
  font-family: cursive;
  font-size: 20px;
  text-decoration: none;
}
li>a:hover{
  background: skyblue;
  color:#333;
}


  .aa{
    width:300px;
    height:260px;
    background-color: rgba(0,0,0,0.4);
    margin:0 auto;
    margin-top: 100px;
    padding-top: 10px;
    padding-left: 50px;
    border-radius: 15px;
    color:blue;
    font-weight: bolder;
    box-shadow: inset -4px -4px rgba(0,0,0,0.4);
    font-size: 18px;
  }
  .aa input[type="text"]{
    width:200px;
    height: 35px;
    border:0;
    border-radius: 5px;
    padding-left: 5px;
  }
  .aa input[type="password"]{
    width:200px;
    height: 35px;
    border:0;
    border-radius: 5px;
    padding-left: 5px;
  }
  .aa input[type="submit"]{
    width:100px;
    height: 35px;
    border:0;
    border-radius: 5px;
    background-color: skyblue;
    font-weight: bolder;
  }
  #footer{
    width:100%;
    height:80px;
    background: green;
    margin-top: 400px;
  }

    padding-left: 5px;
  }
  .aa input[type="submit"]{
    width:100px;
    height: 35px;
    border:0;
    border-radius: 5px;
    background-color: skyblue;
    font-weight: bolder;
  }
  #footer{
    width:100%;
    height:80px;
    background: green;
    margin-top: 400px;
  }
