* {
  margin:0px;
  padding: 0px
}
body{
  background-image: url(/Picture/viewPage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#header{
  width:100%;
  height:85px;
  background-color: rgba(0,0,0,0.4);
  box-shadow: 0px 3px 4 px gray;
}
#logo{
  width:0.5px;
  height:85px;
  float:left;
  padding-left: 20px;
}
#menu>li{
  width:120px;
  list-style: none;
  float:right;

}
li>a{
  display:block;
  color:red;
  line-height:80px;
  text-align: center;
  font-family: cursive;
  font-size: 20px;
  text-decoration: none;
}
li>a:hover{
  background: skyblue;
  color:#333;
}



  .aa{
    width:300px;
    height:260px;
    background-color: rgba(0,0,0,0.4);
    margin:0 auto;
    margin-top: 200px;
    padding-top: 10px;
    padding-left: 100px;
    border-radius: 15px;
    color:Black;
    font-weight: bolder;
    box-shadow: inset -4px -4px rgba(0,0,0,0.4);
    font-size: 18px;
  }
  .aa input[type="text"]{
    width:200px;
    height: 35px;
    border:0;
    border-radius: 5px;
    padding-left: 5px;
  }
  .aa input[type="password"]{
    width:200px;
    height: 35px;
    border:0;
    border-radius: 5px;
}
.pdetails{
  width:300px;
    height:600px;
    background-color: rgba(0,0,0,0.4);
    margin:0 auto;
    margin-top: 50px;
    padding-top: 10px;
    padding-left: 100px;
    border-radius: 15px;
    color:Black;
    font-weight: bolder;
    box-shadow: inset -4px -4px rgba(0,0,0,0.4);
    font-size: 18px;
    display: none;
}

 #footer{
  width:100%;
  height:80px;
  background-color:rgba(0,0,0,0.8);
  margin-top: 150px;
  text-align: center;
 
  left:20px;
  bottom:0px;
  font-size:40px;
}