<!doctype ejs>
<ejs>
<head>
  <link rel="stylesheet" href="/CSS/HomePage.css
  ">
  <title>BiyeShadi.com</title>
  <link rel="icon"type="Logo2/PNG"href="/Picture/Logo2.PNG"/>
  <meta name="viewport" content="width=device-width initial-scale=1">


 
</head>
<body>

  <div id="header">
  <div id="logo">
     <img src="/Picture/Logo.PNG" style="width:300px;height:70px;"/>
  </div>
      <ul id="menu">
	  <li><a href ="RegisterForm.ejs">SIGN UP</a></li>
	  <li><a href ="Login.ejs"> SIGN IN</a></li>
	  <li><a href = "HomePage.ejs">HOME</a></li>
        <li><a href="#"> ABOUT</a></li>
      </ul>

  </div>

  <div id="container">
    <ul>
      <li>Gender
        <ul>
          <li>Male</li>
          <li>Female</li>
          <li>Other</li>

        </ul>
      </li>
      <li>Age
        <ul>
          <li>18y-30y</li>
          <li>31y-45y</li>
          <li>46y-60y</li>

        </ul>
      </li>
      <li>Religion
        <ul>
          <li>Islam</li>
          <li>Hindu</li>
          <li>Buddhist</li>
          <li>Christian</li>
          <li>Others</li>
        </ul>
      </li>
      <li>Occupation
        <ul>
          <li>Doctor</li>
          <li>Engineer</li>
          <li>Other</li>
        </ul>
      </li>
      <li>Area
        <ul>
          <li>Dhaka</li>
          <li>Rajsahi</li>
          <li>Chitagong</li>
          <li>Rongpur</li>
          <li>Sylhet</li>
          <li>Khulna</li>
          <li>Barishal</li>
          <li>Mymensingh</li>
          <li>Comilla</li>

        </ul>
      </li>
      <li>Search</li>

    </ul>
  </div>
  <div id="footer">
  
  Email:<a href="https://mail.google.com" target="iframe_a">1430noyon@gmail.com</a></br>
facebook Link:<a href="https://www.facebook.com" target="iframe_a">Noyon Mohadeb Das</a></br>
linkedin Link:<a href="https://www.linkedin.com" target="iframe_a">Noyon Chandra Das</a>
</div>
</body>
</ejs>