<ejs>
<head>
<link rel="stylesheet" href="/CSS/Login.css">
  <title>BiyeShadi.com</title>
  <link rel="icon"type="Logo2/PNG"href="Logo2.PNG"/>
</head>
<body>
  
    <div id="header">
  <div id="logo">
     <img src="Logo.PNG" style="width:300px;height:70px;"/>
  </div>
      <ul id="menu">
	  <li><a href ="RegisterForm.ejs">SIGN UP</a></li>
	  <li><a href ="Login.ejs"> SIGN IN</a></li>
	  <li><a href = "HomePage.ejs">HOME</a></li>
        <li><a href="#"> ABOUT</a></li>
        
      </ul>

  </div>



  <div class="aa">
    <h2> SIGN IN</h2>
    <form>
      <input type="text" placeholder="Username/Email"><br><br>
      <input type="password" placeholder="Please Enter Password"><br><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</body>
</ejs>