<!DOCTYPE ejs>
<ejs>
<head>

<link rel="stylesheet" type="text/css" href="/CSS/RegisterForm.css">
<title>BiyeShadi.com</title>
<link rel="icon"type="Logo2/PNG"href="/Picture/Logo2.PNG"/>
</head>
<body>
<div id="header">
  <div id="logo">
     <img src="/Picture/Logo.PNG" style="width:300px;height:70px;"/>
  </div>
      <ul id="menu">
	  <li><a href ="RegisterForm.ejs">SIGN UP</a></li>
	  <li><a href ="Login.ejs"> SIGN IN</a></li>
	  <li><a href = "HomePage.ejs">HOME</a></li>
        <li><a href="#"> ABOUT</a></li>
        
      </ul>

  </div>
<br>
<div id="fieldset">

Registration No:<input type="number"><br><br><br>
  First Name   :     <input type="text" placeholder="First name">

  Last Name    :     <input type="text" placeholder="Last name"><br>
  <br><br>
  Fathers First Name:<input type="text" placeholder=" First Name">
  Last Name:<input type="text" placeholder=" Last Name"><br><br><br>
  
  Mothers First Name:<input type="text" placeholder="First Name">
  Last Name:<input type="text" placeholder="Last Name"><br><br><br>
  Date Of Birth:
  <input type="Date" placeholder="Day/Month/Year">Age:     <input type="Number" placeholder="Your Age"><br><br><br>
  
  Gender:
   <select>
    <option>Male</option> 
    <option>FeMale</option> 
    <option>Other</option> 	
	</select> 
	Occupation:     <input type="text" placeholder="Your Occupation">
	Religion:   <select>
    <option>Islam</option> 
    <option>Hindu</option> 
    <option>Buddhist</option> 
    <option>Christian</option> 
    <option>Others</option> 	
	</select> <br><br><br>
 
  
  Address:<input type="text"  placeholder="Your Present Address">
  Contact:<input type="text" placeholder="Your email"><br><br><br>
  
  
  Email Id:<input type="text" placeholder="Your email"> <br><br><br>
  Password:<input type="text" placeholder="Password"> <br><br><br>
  ReType Password:<input type="text" placeholder="Password"> <br><br><br>
  
  Message:<br><br><br>
<textarea rows,col="8,20" ></textarea><br><br>
<button>Submit</button>
  
 
  </select>
  
</div>




</body>
</div>
</ejs>
